<!DOCTYPE HTML>
<html>
	<head>
		<title>Ben Whybrow - CV</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/cv.css" />

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
		<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#9f00a7">
		<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
<body>

  <!-- Download icon -->
  <div id="download-icon" onclick="">
    <a href="/cv/download">
      <span>&#128190;</span>
    </a>
  </div>
  
  <div class="content">

    <div class="row-padding">

      <!-- Left Column -->
      <div class="third">

        <!-- Photo and name overlayed -->
        <div class="photo-container">
          <img src="/assets/images/ben.jpg" alt="Ben Whybrow" style="width:50%">
        </div>

        <!-- Basic Information & Skills -->
        <div class="container">

          <h1 class="name">Ben Whybrow</h1>

          <div class="basic-information">
            <p><i class="fa fa-home fa-fw purple"></i> Bristol, UK</p>
            <p><i class="fa fa-envelope fa-fw purple"></i> <a href="mailto:ben@benwhybrow.com" class="white" style="text-decoration: none;">ben@benwhybrow.com</a></p>
            <p><i class="fa fa-globe fa-fw purple"></i> <a href="https://benwhybrow.com" class="white" style="text-decoration: none;">www.benwhybrow.com</a></p>
          </div>

          <hr>

          <div class="skills">

            <h3><i class="fa fa-asterisk fa-fw purple"></i> Skills</h3>

            <p>Microsoft Office</p>
            <div class="skill-container">
              <div class="skill office">90%</div>
            </div>

            <p>Customer Service</p>
            <div class="skill-container">
              <div class="skill customer-service">85%</div>
            </div>

            <p>HTML & CSS</p>
            <div class="skill-container">
              <div class="skill html">70%</div>
            </div>

            <p>Node.JS (Javascript)</p>
            <div class="skill-container">
              <div class="skill node">60%</div>
            </div>

          </div>

        </div>

      </div>

      <!-- Right Column -->
      <div class="twothird">

        <!-- Work Experience -->
        <div class="container">
            
            <div class="experience">

              <h2><i class="fa fa-suitcase fa-fw purple"></i> Work Experience</h2>
  
              <h4>Apprenticeship Support Officer</h4>
              <h5>South Gloucestershire and Stroud College</h5>
              <div class="flex-container">
                <i class="fa fa-calendar fa-fw purple"></i>
                <p class="date">05-2023 – </p> <span class="current">Current</span>
              </div>
              <p>Within my role, I have been instrumental in ensuring the seamless delivery of key operational tasks and compliance initiatives. Collaborating closely with the Apprenticeship Funding & Compliance Manager, I have successfully managed the creation and distribution of the monthly employer newsletter, reaching over 1,500 stakeholders. My role includes the administration of the Apprenticeship Awards, revision and distribution of over 350 Employer Agreements for 2023/2024, and managing the Apprenticeships eCampus page, ensuring accurate and up-to-date content for learners.<br>
                Additionally, I have developed and implemented a new procurement process, ensuring efficient material and stationery acquisition for the department, and I handle the period-end reports from the ILR, where I resolve discrepancies and ensure compliance, including the processing of incentive payments and coinvestment invoices in line with the ESFA Funding Rules.</p>
  
              <h4>Business Support Relief Admin</h4>
              <h5>Dimensions UK</h5>
              <div class="flex-container">
                <i class="fa fa-calendar fa-fw purple"></i>
                <p class="date">07-2022 – 04-2023</p>
              </div>
              <p>This job involved working in various departments throughout the company. The first month was with Recruitment, in which I was responsible for managing their email, taking incoming phone calls, chasing candidates for documents, and helping where needed. In September 2022, I then moved to Housing and Compliance in which I managed the phone line for both the department and for head office, I also managed the inbox, and was responsible for dealing with repairs and contractors needed in the various houses that the company managed.</p>

            </div>

        </div>

        <!-- Education -->
        <div class="container">

          <div class="education">

            <h2><i class="fa fa-certificate fa-fw purple"></i> Education</h2>

            <h4>BTEC National Extended Diploma in Information Technology (DDM)</h4>
            <h5>South Gloucestershire and Stroud College</h5>
            <div class="flex-container">
              <i class="fa fa-calendar fa-fw purple"></i>
              <p class="date">09-2020 – 06-2022</p>
            </div>

            <h4>9 GCSEs at grades 4-6 including Mathematics and English</h4>
            <h5>Oasis Academy Brighstowe</h5>
            <div class="flex-container">
              <i class="fa fa-calendar fa-fw purple"></i>
              <p class="date">09-2015 – 07-2020</p>
            </div>

        </div>

      </div>

    </div>

  </div>

  <footer>

    <p>Ways to contact me:</p>

    <a href="https://linkedin.com/in/benjamin-whybrow-b80a0218a/"><i class="fab fa-linkedin fa-fw purple"></i></a>
    <a href="https://instagram.com/benwhybrow23"><i class="fab fa-instagram purple"></i></a>
    <a href="https://github.com/bwhybrow23"><i class="fab fa-github fa-fw purple"></i></a>
    <a href="mailto:ben@benwhybrow.com"><i class="fa fa-envelope fa-fw purple"></i></a>

    <br><br><span class="copyright">&copy; Ben Whybrow 2024</span>

  </footer>

</body>
</html>