<!DOCTYPE HTML>
<html>
	<head>
		<title>Ben Whybrow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
		<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#9f00a7">
		<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>

      <!-- Chatbot icon -->
      <div id="chatbot-icon" onclick="toggleChatWindow()">
        <span>&#128172;</span> <!-- Use any chatbot icon you prefer -->
      </div>

      <!-- Chat window -->
      <div id="chat-window" class="fade-in">
        <div id="chat-log">
          <p><strong>Ben: </strong>Hi! My name is Ben... but in robot form. I will try my best to help you out as best as possible. Throw phrases at me and I will answer them. For example, you can ask me for a link to my CV, or my email address. If you experience any bugs, shoot me an email and I'll get the real Ben to fix me.</p>
        </div>
        <div id="chat-input">
          <input type="text" id="user-input" placeholder="Type your message..." />
          <button id="send-btn" onclick="sendMessage()">Send</button>
        </div>
      </div>

			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Ben Whybrow</h1>
						<p>Node and C# Programmer &nbsp;&bull;&nbsp; Always aspriring to learn</p>
						<nav>
							<ul>
								<li><a href="https://instagram.benwhybrow.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://twitter.benwhybrow.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<!-- <li><a href="https://discord.benwhybrow.com" class="icon brands fa-discord"><span class="label">Discord</span></a></li> -->
								<li><a href="https://github.benwhybrow.com" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="https://paypal.benwhybrow.com" class="icon brands fa-paypal"><span class="label">PayPal</span></a></li>
								<li><a href="mailto:ben@benwhybrow.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Ben Whybrow 2023</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
    <script src="../Assets/js/chatbot.js"></script>
	</body>
</html>